body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    height: 100%;
}
.loading-screen {
    top: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
}
.loading-screen > div {
    margin-top: 250px;
    margin-left: 45%;
}
.loading-screen img {
    max-width: 100px;
    max-height: 100px;
    animation: bounce-slow 2s infinite;
}
/*CSS for the navbar*/
.index-navbar {
    border-bottom: 2px solid black;
    padding: 20px;
    margin-top: 0;
    background-color: white;
    width: 100%;
    opacity: 1;
    position: fixed;
    box-shadow: 0 0 20px black;
    display: inline-block;
    z-index: 5;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
    width: auto;
    height: auto;
    z-index: -10;
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

@media screen and (min-width: 992px) {
    .index-navbar div {
        margin-left: 70%;
    }

}

@media screen and (min-width: 792px) and (max-width: 991px) {
    .index-navbar div {
        margin-left: 60%;
    }

}

.index-navbar .square {
    padding: 10px 20px 10px 20px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid black;
    margin: 0 5px 0 5px;
    transition: 0.35s;
}

.index-navbar .rect {
    padding: 5px 30px 5px 30px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid black;
    margin: 5px;
    transition: 0.35s;
}

.square:hover, .rect:hover {
    background-color: black;
}

/*CSS for the Body-Content*/
.body-content {
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100vh;
    width: 100%;
    max-height: 100%;
    position: relative;
}
.boxes-set{text-align: center;}
.next-up, .next-down {
    padding: 30px;
}

.next-up div, .next-down div {
    position: absolute;
    bottom: 30px;
    padding-left: 45%;
}
.next-up a > span, .next-down a > span {
    cursor: pointer;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.menu {
    position: relative;
}
.menu .trn-box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    max-width: 100px;
    min-height: 100px;
    word-wrap: break-word;
    width: auto;
    height: auto;
    transform: scale(1,0);
    transition: 0.2s;
}
.shift-show {
    z-index: 2;
    left: 60px !important;
    transform: scale(1,1) !important;
}
.menu a > span, .next-up a > span, .next-down a > span {
    font-size: 24px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    background-color: whitesmoke;
}

.box-container {
    width: 100%;
    margin: auto;
}
.box-container > li {
    list-style-type: none;
    display: inline-flex;
    margin: 20px auto;
    padding: 50px;
}
.round-box {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: black;
    transition: 0.35s;
}

.round-box:hover {
    background-color: white;
}

.logo img {
    max-width: 350px;
    min-width: 350px;
    width: auto;
    height: auto;
}
.logo li {
    list-style-type: none;
    margin: 20px auto;
}
.logo img:hover {
    animation-name: vibrate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes vibrate {
    0%, 30%, 60%, 90%{
        -moz-transform: translateX(-2px) translateY(1px) rotate(1deg);
        -ms-transform: translateX(-2px) translateY(1px) rotate(1deg); /* IE 9 */
        -webkit-transform: translateX(-2px) translateY(1px) rotate(1deg); /* Safari */
        transform: translateX(-2px) translateY(1px) rotate(1deg);
    }
    10%, 40%, 70%, 100%{
        -moz-transform: translateX(0px) translateY(0px) rotate(0deg);
        -ms-transform: translateX(0px) translateY(0px) rotate(0deg);
        -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    20%, 50%, 80%{
        -moz-transform: translateX(2px) translateY(-1px) rotate(-1deg);
        -ms-transform: translateX(2px) translateY(-1px) rotate(-1deg);
        -webkit-transform: translateX(2px) translateY(-1px) rotate(-1deg);
        transform: translateX(2px) translateY(-1px) rotate(-1deg);
    }
}

@keyframes bounce {
    0%, 20%, 60%, 80%, 100% {
        -moz-transform: translateY(2px);
        -ms-transform: translateY(2px);
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    40%, 70%, 90% {
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}

@keyframes bounce-slow {
    0%, 20%, 60%, 80%, 100% {
        -moz-transform: translateY(4px);
        -ms-transform: translateY(4px);
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    40%, 70% {
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}