html, body {
    min-width: 350px;
    margin: 10px;
    font-size: 14px;
    background-color: whitesmoke;
    color: #003333;
    text-align: center;
}

header h1, footer p {
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.big {
    color: red !important;
    font-size: 24px !important;
}

.medium {
    color: darkorange !important;
    font-size: 20px !important;
}

.small {
    color: darkgreen !important;
    font-size: 18px !important;
}

#preloader {
    margin: 20% auto;
    text-align: center;
    width: 40px;
    height: 40px;
}

#content a {
    color: #0000ff !important;
    font-weight: 700;
}
#content a:hover, #data a:visited{
    color: #0066cc !important;
    text-decoration: underline !important;
    font-weight: 700;
}